/* ==== HEADER ==== */
.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #111;
  letter-spacing: -0.5px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s;
}

.navLink:hover {
  color: #f4b400; /* amarelo suave */
}